body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(240, 7, 7);
    text-decoration: none;
}

p {
    margin-bottom: 20px; /* Increases space between paragraphs */
    line-height: 1.6; /* Improves readability */
}


 body, html {
    margin: 0;
    padding: 0;
}

.container {
    display: flex; /* Enables Flexbox */
}
main {
    width: 70%; /* Covers 70% of the page */
    background-color: #f4f4f4; /* Light background for visibility */
    padding: 20px;
}